mat-toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .header-start {
    display: flex;
    align-items: center;
    gap: 0.4em;
  }
  .header-end {
    display: flex;
    align-items: center;
    gap: 0.8em;
  }
  mat-icon {
    cursor: pointer;
  }
}
