/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

.form-container {
  width: 100vw;

  .auth-form {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  mat-form-field {
    width: 70%;
  }
  .btn-submit {
    width: 70%;
    margin-top: 2rem;
  }
}
